/.vscode
/10jan.html
/27jan26.html
/9jan.html
/a.html
/a.js
/arrayobjects.html
/b.html
/class.html
/counter.html
/feb20.html
/GenZcart.js
/GenZcart.ts
/hoist.html
/p1.html
/p2.html
/t2.html
/table.html
/thoughtworks
/todolist.html